@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");


:root {
  --font-base: "Catamaran", "DM Sans";
  --font-base-color: #fff;
  --primary-color: #ffdca8;
  --secondary-color: #3e7bf5;
  --black-color: #212121;
  --lightGray-color: #a9a9a9;
  --gray-color: #1e1e1e;
  --gray-color2: #111114;
  --gray-color3: #1c1d22;
  --gray-color4: #22242a;
  --brown-color: #46364a;
  --light-color: #eafffb;
  --accent-color: #f33;
  --accent-color2: #39252b;
  --accent2-color: #e0b74a;
  --accent3-color: #e447bd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}

.app {
  background-color: var(--lightGray-color);
  font-family: var(--font-base);
  color: var(--font-base-color);

}

.app__header {
  position: fixed;
  width: 100%;
  height: 64px;
  padding: 10px;
  background: var(--gray-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;


  
}

.app__content {
  position: absolute;
  margin-top: 64px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--gray-color2);
  padding: 10px;
  min-height:calc(100vh - 64px);

  .app__content-container {
    width: 1800px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
    @media screen and (max-width: 1800px) {
      width: 1200px;    
    }
    @media screen and (max-width: 1200px) {
      width: 100%;    
    }
    @media screen and (max-width: 992px) {
      width: 100%;
      max-width: 992px;    
    }
  }

}


.app__footer {
  background-color: var(--gray-color);
  height: 100%;
}

.app__whitebg {
  background-color: var(--light-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__header-container {
  width: 1800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  @media screen and (max-width: 1800px) {
    width: 1200px;    
  }
  @media screen and (max-width: 1200px) {
    width: 1200px;    
  }
  @media screen and (max-width: 992px) {
    width: 100%;
    max-width: 992px;    
  }
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}




//General purpose styles

.divider{
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.12);
  margin-bottom: 10px;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;
  
  span {
    color: var(--secondary-color);
  }
  
  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }
  
  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 1rem;
  text-align: left;
  color: var(--black-color);
  line-height: 1.2;
  
  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-weight: 800;
}

.accent-text{
  color: var(--accent-color);

}

.copyright {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  
  p {
    text-transform: uppercase;
    color: var(--black-color);
    font-size: 1.2rem;
  }
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem 1rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 0.5rem;
  }
}

//social media links wraper
.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  
  padding: 1rem;
  
  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);

    background-color: var(--accent2-color);
    border-radius: 10px;
    border: solid 4px var(--black-color);
    box-shadow: 4px 4px 0 var(--black-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--secondary-color);
    }

    &:hover {
      background-color: var(--secondary-color);

      svg {
        color: var(--light-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}


//navigation helper wraper
.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

//disable wrapers on small devices
@media screen and (max-width: 564px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 0rem;

    .p-text {
      font-size: 1rem;
    }
  }
}
