.novel{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 5px;
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-content: center;
    }
    

    .left{
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @media screen and (max-width: 768px) {
            width: 100%;
                        }

        img{
            width: 260px;
            border-radius: 3px;

            @media screen and (max-width: 768px) {
width: 100%;
            }
        }

    }
    
    .right{
        flex-grow: 1;
        // width: 100%;

        .header{
            background-color: var(--gray-color3);
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 20px;

            pre{
                font-size: small;
                word-wrap: normal;
                width: 100%;
                white-space: pre-wrap;
            }
        }
        
        .chapters{
            background-color: var(--gray-color3);
            border-radius: 4px;
            padding: 10px;

            .chapters_header{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                padding: 0 10px;
                
                .chapter_sorting{
                    transition: all 0.2s ease-in-out;

                    svg{
                        width:10px;
                        height: 20px;
                    }
                    

                    &:hover{
                        transition: all 0.2s ease-in-out;
                        color: var(--accent-color);
                    }
                }
            }

            .chapter_list{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;

                .chapter{
                    margin: 10px;
                    border-radius: 4px;
                    padding: 3px;
                    background-color: var(--gray-color4);
                    min-width: 260px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex-grow: 1;
                    cursor: pointer;

                    &:hover{
                        transition: all 0.2s ease-in-out;
                        color: var(--accent-color);
                    }

                    svg{
                        width: 40px;
                        height: 40px;
                        font-size: 10px;
                        padding: 10px;

                        border-radius: 3px;
                        color: var(--accent-color);
                        background-color: var(--accent-color2);
                    }

                    .chapterNumber{
                        margin-left: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        span:last-child{
                            font-size: x-small;
                            color: var(--lightGray-color);

                        }
                    }
                }
            }

            .loadMore{
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.2s ease-in-out;

                svg{
                    width: 20px;
                    height: 20px;
                }

                &:hover{
                    color: var(--accent-color);
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}